<!-- <div class="export-container">
	<button mat-raised-button color="primary" (click)="exportTable()">Export</button>
</div> -->

<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="export-container">
  <button mat-raised-button color="primary" (click)="exporter.exportTable('excel')">Export</button>
</div>

<mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
  <!-- <button mat-button></button> -->
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.date.toDate() | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="calories">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Calories</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.calories | number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Duration</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.duration | number }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="state">
    <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.state }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="3" [pageSizeOptions]="[5, 10, 15, 100]">
</mat-paginator>

<!-- <div>
  <button mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Export</button>
</div> -->
<!-- <button mat-raised-button color="primary" (click)="exporter.exportTable('pdf')">Pdf</button> -->
<!-- <button mat-raised-button (click)="exporter.exportTable('json')">Json</button> -->
<!-- <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button> -->
