<mat-toolbar color="primary">
        <div>
          <button mat-icon-button (click)="onToggleSidenav()"> 
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <!-- <div>fxFlex</div> -->
        <div><a routerLink="/">NG Fitness</a></div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end">
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
            <li *ngIf="isAuth"><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
          </ul>
        </div>
      </mat-toolbar>